.background-section {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.me-2 {
    background-color: rgb(226, 13, 13) !important;
  }
  

@media (max-width: 576px) {
    .background-section {
        height: 40vh;
    }
}
